<!DOCTYPE html>
<html>
<head>
    <title>UniNet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>

    <h1>UniNet - 電気通信大学プログラミング教室</h1>
    <p id="name"></p>
    <div id="messages">
        {% for message in messages %}
            <p id="message-{{ loop.index }}">{{ message.username }}: {{ message.message }}
                {% if message.username == username %}
                    <button onclick="deleteMessage('{{ message.message }}')">Delete</button>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    <input type="text" id="messageInput" placeholder="教室のゆかいな仲間たちがきっと応えてくれます">
    <button onclick="sendMessage()">✈ 送信</button>

    <script>
        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', function() {
            var userName = document.getElementById("name");
            userName.innerHTML = '{{ username }} としてログインしています'
        });

        socket.on('message', function(message) {
            var messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML += '<p>' + message + '</p>';
        });

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var message = messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        }

        function deleteMessage(messageContent) {
            if (confirm("マジで削除しますか？")) {
                socket.emit('delete_message', messageContent);
            }
        }

        socket.on('message_deleted', function(messageContent) {
            var messageElements = document.querySelectorAll('p');
            messageElements.forEach(function(element) {
                if (element.textContent.includes(messageContent)) {
                    element.remove();
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var textInput = document.getElementById('messageInput');
            textInput.addEventListener('keydown', function(event) {
                if (event.ctrlKey && event.keyCode === 13) { // Ctrl+Enter
                event.preventDefault(); // デフォルトの動作をキャンセル
                sendMessage();
                }
            });
        });
    </script>

    <style>
        body {
            margin: 10px;
        }

        h1 {
            background-color: cadetblue;
            border-radius: 10px;
            padding: 10px;
        }

        #messages {
            padding-left: 15px;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 10px;
            margin-bottom: 10px;
            overflow: scroll;
            border-style: solid;
            border-color: cadetblue;
            height: 450px;
        }

        input {
            width: 94%;
        }
    </style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
